<h1>Get all Events Test</h1>
<p>Right now I and grabbing all of the keys from the Redis DB that match event*</p>
<p>The hope is that after this returns successfully I will be able to make future calls with those keys to forge a greater JSON object to throw at the hbs-template</p>
<p>SUCCESS!</p>
<p>Now I need to make the ul and li repeat dynamically instead of just statically</p>
<ul class="list-group">
    <li class="list-group-item">Name: <a href="/user/goto/{{evnt0}}">{{evnt0}}</a></li>
    <li class="list-group-item">Name: <a href="/user/goto/{{evnt1}}">{{evnt1}}</a></li>
    <li class="list-group-item">Name: <a href="/user/goto/{{evnt2}}">{{evnt2}}</a></li>
    <li class="list-group-item">Name: <a href="/user/goto/{{evnt3}}">{{evnt3}}</a></li>
    <li class="list-group-item">Name: <a href="/user/goto/{{evnt4}}">{{evnt4}}</a></li>
    <li class="list-group-item">Name: <a href="/user/goto/{{evnt5}}">{{evnt5}}</a></li>
</ul>

<p>The dynamic list should be below here but does not work.</p>
<ul class="list-group">
    {{#each eventlist}}
    <li class="list-group-item">Event Name: {{this}}</li>
    <p>hello</p>
    {{/each}}
</ul>
