<h1>Get all Events Test</h1>
<p>Right now I and grabbing all of the keys from the Redis DB that match event*</p>
<p>The hope is that after this returns successfully I will be able to make future calls with those keys to forge a greater JSON object to throw at the hbs-template</p>
<p>SUCCESS!</p>
<p>Now I need to make the ul and li repeat dynamically instead of just statically</p>
<ul class="list-group">
    <li class="list-group-item">Name: <a href="/user/goto/{{eventlist0}}">{{eventlist0}}</a></li>
    <li class="list-group-item">Name: {{eventlist1}}</li>
    <li class="list-group-item">Name: {{eventlist2}}</li>
    <li class="list-group-item">Name: {{eventlist3}}</li>
    <li class="list-group-item">Name: {{eventlist4}}</li>
    <li class="list-group-item">Name: {{eventlist5}}</li>
</ul>

<p>The dynamic list should be below here but does not work.</p>
<ul class="list-group">
    {{#each eventlist}}
    <li class="list-group-item">Event Name: {{this}}</li>
    {{/each}}
</ul>
